.loader {
  padding: 50px 0;
}

.loaderDots {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2px;
}

.loaderDot {
  display: inline-block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: var(--color-neutral-700);
}

.loaderDot:nth-child(1) {
  animation: dotLoading 1s infinite;
  animation-delay: 0.3s;
}

.loaderDot:nth-child(2) {
  animation: dotLoading 1s infinite;
  animation-delay: 0.15s;
}

.loaderDot:nth-child(3) {
  animation: dotLoading 1s infinite;
}

@keyframes dotLoading {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
