.contactsContainer {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
  padding: 10px;
}

.noContact {
  text-align: center;
}

.addContactBtn {
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 1;
}

.addContactBtn button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  background-color: var(--color-primary-500);
  padding: 16px;
  font-size: 14px;
  border: none;
  border-radius: var(--lg-radius);
  outline: none;
  cursor: pointer;
  transition: all 0.3s ease;
}

.addContactBtn button:hover {
  background-color: var(--color-primary-700);
}

.addContactBtn button span {
  color: var(--color-white);
}

.addContactBtn button svg {
  width: 24px;
  height: 24px;
  stroke: var(--color-white);
}

@media (max-width: 767.98px) {
  .addContactBtn button span {
    display: none;
  }
}
